


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Website</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <h1>Welcome to Our Website</h1>
  <p>This is a project of educational video games for LIVE Lab</p>


  <!-- Displaying Images with Links -->
  <div class="image-container">
    <a href="url1"><img src="https://cdn.akamai.steamstatic.com/steam/apps/1721470/capsule_616x353.jpg?t=1707439907" alt="Image 1"></a>
    <a href="url2"><img src="https://cdn.akamai.steamstatic.com/steam/apps/1721470/capsule_616x353.jpg?t=1707439907" alt="Image 2"></a>
    <a href="url3"><img src="https://cdn.akamai.steamstatic.com/steam/apps/1721470/capsule_616x353.jpg?t=1707439907" alt="Image 3"></a>
    <a href="url4"><img src="https://clan.cloudflare.steamstatic.com/images/40671762/c7d19c6dfa25ca2631d9d97b9c78536603fb357c_960x311.png" alt="Image 4"></a>
    <a href="url5"><img src="https://clan.cloudflare.steamstatic.com/images/40671762/c7d19c6dfa25ca2631d9d97b9c78536603fb357c_960x311.png" alt="Image 5"></a>
    <a href="url6"><img src="https://clan.cloudflare.steamstatic.com/images/40671762/c7d19c6dfa25ca2631d9d97b9c78536603fb357c_960x311.png" alt="Image 6"></a>
  </div>


  <!-- Layouts-->

  <!-- Login-->
  <%= link_to "Log In", login_path, class: "button" %>
  <!-- <a href="/login" class="login-link">Login</a>-->

  <!-- Games-->
  <%= link_to "View All Games", "/games", class: "button" %>
  <!-- <%= link_to "View All Games", "/games" %>-->
</body>
</html>
