/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Style for h1 element */
h1 {
    left: 100px; /* Center alignment */
    padding: 20px; /* Top and bottom padding */
}


/* Banner style */

h2 {
    text-align: center; /* Center alignment */
    padding: 50px 0; /* Top and bottom padding */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    margin: 0; /* Remove default margin */
}

h3 {
    text-align: center; /* Center alignment */
    padding: 20px 0; /* Top and bottom padding */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    margin: 0 20px; /* Margin for left and right sides */
}

body {
    display: block;
    min-height: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow-x: hidden;
}

.body-content {
    padding: 0 2vw 0 2vw;
}

.profile {
    text-align: center;
  }

.profile img {
    width: 100px;
    height: auto;
  }

.saved-games {
            display: flex;
            flex-wrap: wrap;
        }

.saved-game {
    width: 50%; /* Each saved game takes 50% width to create a two-column layout */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Adjust padding as needed */
}

/* Optional: Add additional styling for saved-game items */
.saved-game p {
    margin: 0; /* Remove default margin for paragraphs */
    text-align: center;
}

.game-image {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}


/*Button*/

.container1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-inline: auto;
    margin-top: 1.5vw;
    align-items: center;
}
  
.custom-button {
    text-align: center; /* Center-align the description */
    flex: 1;
    padding: 1vw 2vw;
    color: white;
    text-decoration: none;
    margin-right: 1vw;
    margin-bottom: 2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}
  
.custom-button:last-child {
    margin-right: 0;
}

.button-1 {
    background-color: #007bff;
    color: white;
    font-size: 1.4vw;
}
.button-1:hover {
    background-color: #0056b3;
}
  
  .button-2 {
    background-color: blue;
    color: white;
    font-size: 1.4vw;
    text-align: center;
  }
  
.btn-danger {
    background-color: #f44336;
    color: white;
    font-size: 1.4vw;
}
.btn-danger:hover {
    background-color: #da190b;
}
  
.game-info{
  }

.button {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5vw;
    margin-right: 1vw; /* Add margin between buttons */
    float: right; /* Float the buttons to the right */
    font-size: 1.4vw;
}
.button:hover {
  background-color: #0056b3;
}


/*Image Container*/

.container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Wrap items when they exceed container width */
}

.image-container {
    flex: 0 0 33.33%; /* Each container takes one-third of the container's width */
    padding: 10px; /* Add padding around each container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.image-container img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
}

.image-container p {
    text-align: center; /* Center-align the description */
    margin-top: 5px; /* Add margin above the description */
}

.games-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.about-container {
    text-align: center;
}

/*search bar*/

/* Container for search and sort features */
.search-container {
    display: flex;
    justify-content: space-between; /* Distributes space between search and sort */
    align-items: center;
    max-width: 80vw;
    width: 100%;
    margin: 2vw auto; /* Center the container with automatic margins */
    padding: 1.5vw;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    background-color: #f9f9f9; /* Light background */
}
.search-main .search-container {
    justify-content: center; /* Center the search bar in the container */
    padding: 2vw;
}

/* Styling for the search bar and button */
.searchbar {
    display: flex;
    width: 60%; /* Adjust the width ratio between search and sort */
}

.search-main .searchbar{
    width: 80%
}

.searchbar input[type="text"] {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 1.6vw;
    border: 2px solid #007bff; /* Match the button border */
    border-right: none; /* Hide right border where button meets input */
    border-radius: 5px 0 0 5px;
    outline: none; /* Remove focus outline */
}

.searchbar-button {
    padding: 10px 20px;
    font-size: 1.6vw;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.searchbar-button:hover, .searchbar-button:focus {
    background-color: #0056b3;
    border-color: #004095;
}

/* Sort box styling */
.sortbox {
    display: flex;
    align-items: center;
}

.sortbox .label {
    font-size: 1.6vw;
    color: #333;
    margin-right: 10px;
}

.sortbox .select {
    display: block;
    width: auto; /* Let the width auto-adjust to content */
}

/* Style adjustments for the select dropdown */
.select select {
    padding: 8px 10px;
    font-size: 1.6vw;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer; /* Indicates the dropdown is clickable */
}

.select select:hover, .select select:focus {
    border-color: #0056b3;
}



/*LogIn*/

.login-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px; /* ??? ?? ?? */
}

.login-link:hover {
  background-color: #0056b3;
}

/* Flash Messages Styles */
.flash {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.flash.notice {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
}

.flash.alert {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
}

.flash.info {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
}

/* Navigation Bar Styles */
.navbar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 10px 10px 10px 40px;
    top: 29vw;
}

.navbar a {
    float: left;
    display: block;
    color: #1a1d28;
    text-align: center;
    text-decoration: none;
    padding: 0 1vw 1vw 1.5vw;
    font-size: 2vw;
    font-weight: 700;
}

.navbar a.active {
    color: #1a9fff;
}

.navbar a:hover {
    /*background-color: #ddd;*/
    color: #1a9fff;
    text-shadow: 0 0 2px #1a9fff;
}

.navbar a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2vw;
    background: #1a9fff;
    border-radius: 3px;
    animation: slide 0.3s;
    margin-top: 0.2vw;
}

.site-footer {
    width: 100%;
    padding: 0;
}

.site-footer img {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    padding: 0;
}

.header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}